<% if (title) { %>
    <div class="container-formall">
        <h1 class="form-title"><%= title %></h1>
    <%- messages() %>
    </div>
    <% } else {
      res.redirect('/')
    } %>

<% if (locals.accountData.account_type == "Client" || locals.accountData.account_type == 'Employee' ||
locals.accountData.account_type == 'Admin' ) { %>
  <h2>Welcome <%- locals.accountData.account_firstname %></h2>
<% } %>


<p>Youre logged in.</p>

<a href="/account/update/<%- locals.accountData.account_id %>">Update Account Information</a>

<% if (locals.accountData.account_type == 'Employee' ||
 locals.accountData.account_type == 'Admin') { %>
   <h3>Inventory Management</h3>
   <p><a href="/inv">Inventory Management view</a></p>
<% } %>
