<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Campatible" content="IE=edge">
    <title><%- title %> | CSE 340 App</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="../images/site/favicon-32x32.png">
</head>