<h1 class="welcome">Welcome to CSE Motors!</h1>
<%- messages() %>

<section id="hero">
  <div class="box-hero">
    <h2>DMC Delorean</h2>
    <p>3 Cup holders</p>
    <p>Superman doors</p>
    <p>Fuzzy dice!</p>
    <button id="actionbtn">Own Today</button>
  </div>
</section>
<div class="flex-content">
  <section id="review">
    <h2 class="welcome">DMC Delorean Reviews</h2>
    <ul id="paragraps">
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </section>
  <section id="add-ons">
    <h2 class="welcome">Delorean Upgrades</h2>
    <div class="flex">
      <a href="./parts/detail/1" title="flux-capacitor">
        <figure>
          <div class="add-col">
            <img class="imgupgrades" src="./images/upgrades/flux-cap.png" alt="Flux-Capacitor">
          </div>
          <figcaption>Flux Capacitor</figcaption>
        </figure>
      </a>
      <a href="./parts/detail/8" title="flame decals">
        <figure>
          <div class="add-col">
            <img class="imgupgrades" src="./images/upgrades/flame.jpg" alt="flame decal">
          </div>
          <figcaption>Flame Decals</figcaption>
        </figure>
      </a>
    </div>
    <div class="flex">
      <a href="./parts/detail/9" title="bumper stickers">
        <figure>
          <div class="add-col">
            <img class="imgupgrades"
              src="./images/upgrades/bumper_sticker.jpg"
              alt="Bumper Stickers"
            >
          </div>
          <figcaption>Bumper Stickers</figcaption>
        </figure>
      </a>
      <a href="./parts/detail/10" title="hub caps">
        <figure>
          <div class="add-col">
            <img class="imgupgrades" src="./images/upgrades/hub-cap.jpg" alt="Hub Caps">
          </div>
          <figcaption>Hub Caps</figcaption>
        </figure>
      </a>
    </div>
  </section>
</div>