<% if (title) { %>
    <div class="container-formall">
        <h1 class="form-title"><%= title %></h1>
    <%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>
    </div>
    <% } else {
      res.redirect('/')
    } %>

<div class="container-form">
    <div class="form-box" id="newclassificationBox">
        <form class="login-form" id="loginForm" action="/inv/add-classification" method="post">
            <label for="classification_name" class="form-label">Classification Name:</label>
            <input type="text" id="classification_name" name="classification_name" class="form-input" title="The new classification name cannot contain a space or special character of any kind" required>
            <input type="submit" value="Submit" class="form-submit">
        </form>
    </div>
</div>


